{% extends 'admin/dashboard.html.twig' %}

{% block adminContent %}
    
     <header>
       <h2 class="text-center">Zarejestruj użytkownika</h2>
     </header>
    
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{type}}">{{ message }}</div>
         {% endfor %}
    {% endfor %}
    
    {{ form(registerForm, {'attr': {'novalidate': 'true'}}) }} 
    
 {% endblock %}

 