<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>


	<meta charset="utf-8">
   

</head>
<body>

<main>

{% block content %}{% endblock %}
  
</main>


<footer>

<div>
<img src= "{{ absolute_url(asset('img/logo.png')) }}" alt="wartobycrazem.pl">
</div>
</footer>

</body>
</html>
