<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>


	<meta charset="utf-8">
   

</head>
<body>

<main>

{% block content %}{% endblock %}
  
</main>


<footer>

<div>
<img src="{{ absolute_url(asset('img/logo.png')) }}" alt="wartobycrazem.pl">
</div>
</footer>



{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery-2.2.1.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{#<script src="{{ asset('js/scripts.js') }}"></script>#}
<script src="{{ asset('js/substring.js') }}"></script>
{% endblock %}
</body>
</html>
