{% extends 'email/base.html.twig' %}

{% block title %}Nowe hasło{% endblock %}

{% block content %}
<h2>Nowe hasło</h2>
<p>Twoje nowe hasło to:
<b>{{ plainPassword }}</b></p>
<p>Pozdrawiamy</p>
{% endblock %}



